.dev{
  font-size: 28px;
  color: gray;
}

.etitle{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: black;
}
.edesc{
  font-size: 16px;
  color: black;
}

.language{
  font-size: 22px;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.sublang{
  font-size: 14px;
  color: gray;
  font-family: 'Poppins', sans-serif;
}
.pdesc{
  font-size: 16px;
  color: gray;
}
.each{
  height: 90px;
  margin-bottom: 25px;
}

