<div class="container d-flex">
  <div class="d-flex col-md-6 flex-column" style="padding-right:35px;padding-top: 20px;margin-bottom: 50px;border-right: 2px solid gray">
    <div>
      <h1>
        Yusuf Emir Tatlı
      </h1>
      <div class="dev">
        Full-Stack Web Developer
      </div>
      <div>
        Merhaba, ben Yusuf Emir Tatlı 22 yaşında Full-Stack Web Geliştiricisiyim.
        Web geliştirme hakkında 3 yıllık bir kodlama geçmişim var çoğunluğu backend tarafında.MVC yapısı ve genel olarak
        Laravel framework ile çalışıyorum.Son staj tecrübemi de eklersem başlangıç seviyesinde Angular biliyorum.HTML,CSS,JS,PHP
        dillerine hakimim.17 yaşımdan beri kodlamayla uğraşıyorum.Web geliştirme haricinde Unity ile oyun da tasarlıyorum.
        Öğrencilik dönemimde okurken aynı zamada çalışıp kendimi geliştireceğim bir iş arıyorum.
      </div>
    </div>
    <div class="d-flex flex-column" style="padding-top: 20px">
      <h2>
        EĞİTİM
      </h2>
      <div class="d-flex flex-column">
        <div class="d-flex flex-column" style="padding-bottom: 50px">
          <div class="d-flex etitle">UNİVERSİTE</div>
          <div class="d-flex edesc">Bilgisayar Muhendisliği-Karabük Üniversitesi</div>
          <div class="d-flex">08/2019-Present</div>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex etitle">LİSE</div>
          <div class="d-flex edesc">Zübeyde Hanım Anadolu Lisesi</div>
          <div class="d-flex">08/2015-06/2019</div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column" style="padding-top: 50px">
      <h2 class="d-flex">
        YABANCI DİLLER
      </h2>
      <div class="d-flex justify-content-between col-md-8">
        <div class="flex-column d-flex">
          <div class="d-flex language">
            Türkçe
          </div>
          <div class="sublang">
            Anadili
          </div>
        </div>
        <div>
          <div class="d-flex language">
            İngilizce
          </div>
          <div class="sublang">
            Level:B2
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex col-md-6" style="padding-left: 35px">
    <div class="d-flex flex-column">
      <div class="d-flex"><i class="fa-solid fa-envelope" style="padding-top: 5px;padding-right: 10px"></i><div class="d-flex">yusufemirtatli96@gmail.com</div></div>
      <div class="d-flex"><i class="fa-solid fa-phone" style="padding-top: 5px;padding-right: 10px"></i><div class="d-flex">05425356602</div></div>
      <div class="d-flex"><i class="fa-solid fa-laptop" style="padding-top: 5px;padding-right: 10px"></i><a href="http://www.yusufemirtatli.com/"><div>www.yusufemirtatli.com</div></a></div>
      <div class="d-flex"><i class="fa-solid fa-location-dot" style="padding-top: 5px;padding-right: 10px"></i><div>Karabük,Türkiye</div></div>
      <div class="d-flex"><i class="fa-brands fa-github" style="padding-top: 5px;padding-right: 10px"></i><a href="https://github.com/Mumya078"><div>github.com/Mumya078</div></a></div>
      <div class="d-flex flex-column" style="padding-top: 20px">
        <div class="d-flex">
          <h2>
            PROJELERİM
          </h2>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex flex-column each">
            <div class="d-flex etitle">
              Restaurant Order (03/2022 - 05/2022)
            </div>
            <div class="d-flex pdesc">
              Bu website bir restoranda müşterilerin masalarına oturup masalarından sipariş vermesine olanak sağlıyor
            </div>
          </div>
          <div class="d-flex flex-column each">
            <div class="d-flex etitle">
              E-Ticaret(01/2023-06/2023)
            </div>
            <div class="d-flex pdesc">
              Laravel ile küçük çaplı bir e ticaret projesi geliştirdim
            </div>
          </div>
          <div class="d-flex flex-column each">
            <div class="d-flex etitle">
              MovieApp ve Newspaper(08/2023-09/2023)
            </div>
            <div class="d-flex pdesc">
              Angular ile Movieapp ve Newspaper projesi geliştirdim
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
