
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 30px;
}
#carouselExampleIndicators {
  width: 1000px; /* İstediğiniz genişlik değeri */
  height: 400px; /* İstediğiniz yükseklik değeri */
}

.orta{
  place-items: center;
}

.info{
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
}

.imga{
  width: auto;
  height: 350px;
}
.a{
  height: 60px;
  margin-top: 320px;
}

@media (max-width: 767px) {
  #carouselExampleIndicators {
    width: 400px; /* İstediğiniz genişlik değeri */
    height: 200px; /* İstediğiniz yükseklik değeri */
  }
  .imga{
    width: auto;
    height: 210px;
  }
  .a{
    display: none;
  }
}

