<div class="d-flex justify-content-center" style="margin-top: 70px">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner d-flex orta">

      <div class="carousel-item" [ngClass]="{'active':isFirst}" *ngFor="let item of results?.articles | slice:0:3;let i =index;let isFirst=first">
        <div class="d-flex">
          <div class="w-100">
            <img src="assets/img/dog.jpg" class="d-block imga w-100" alt="Slide 1">
          </div>
          <div class="w-100 carousel-info d-flex info" style="background-color: whitesmoke">
            <div style="max-width: 100%;max-height: 100%">
              <h5>{{results.articles[i]?.author}}</h5>
              <p style="max-height: 150px">{{results.articles[i]?.title}}</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <a class="carousel-control-prev justify-content-center a" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="padding-bottom: 40px"></span>
    <span class="visually-hidden">Önceki</span>
  </a>
  <a class="carousel-control-next a" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="padding-bottom: 40px"></span>
    <span class="visually-hidden">Sonraki</span>
  </a>
</div>
