<div class="main d-flex">
  <div class="col-md-2 d-flex categories ">
    <div class="d-flex flex-column">
      <aside>
        <div class="maintitle">Categories</div>
        <div class="d-flex justify-content-center flex-column">
          <div><button
            class="button btn btn-sm btn-outline-black"
            [class.selected]="category === 'general'"
            (click)="changeCategory($event)" id="general">General
          </button>
          </div>
          <div><button
            class="button btn btn-sm btn-outline-black"
            [class.selected]="category === 'business'"
            (click)="changeCategory($event)" id="business">Business
          </button>
          </div>
          <div><input
                      type="button" class="button btn btn-sm btn-outline-black"
                      [class.selected]="category === 'entertainment'"
                      value="entertainment" (click)="changeCategory($event)" id="entertainment">
          </div>
          <div><input
                      type="button" class="button btn btn-sm btn-outline-black"
                      [class.selected]="category === 'health'"
                      value="health" (click)="changeCategory($event)" id="health">
          </div>
          <div><input
                      type="button" class="button btn btn-sm btn-outline-black"
                      [class.selected]="category === 'science'"
                      value="science" (click)="changeCategory($event)" id="science">
          </div>
          <div><input
                      type="button" class="button btn btn-sm btn-outline-black"
                      [class.selected]="category === 'sports'"
                      value="sports" (click)="changeCategory($event)" id="sports">
          </div>
          <div><input
                      type="button" class="button btn btn-sm btn-outline-black"
                      [class.selected]="category === 'technology'"
                      value="technology" (click)="changeCategory($event)" id="technology">
          </div>

          <div class="maintitle">Country</div>
          <div><input
                      class="button btn btn-sm btn-outline-black"  type="button"
                      [class.selected]="country === 'tr'"
                      value="tr" (click)="changeCountry($event)" id="tr">
          </div>
          <div><input
                      class="button btn btn-sm btn-outline-black" type="button"
                      [class.selected]="country === 'us'"
                      value="us" (click)="changeCountry($event)" id="us">
          </div>
        </div>
      </aside>
    </div>
  </div>
  <div class="col-md-10 d-flex flex-column news">
    <div class="up">Filtred Results </div>
    <div class="d-flex new" *ngFor="let item of results?.articles;let i=index">
      <div class="col-md-9 each">
        <div class="header" >
          <div class="title">
            <h4>
              <div class="author" *ngIf="results?.articles[i].author===null;else elseblock1">
                Unknow
              </div>
              <ng-template #elseblock1>
                <div class="author">
                  {{results?.articles[i].title}}
                </div>
              </ng-template>
            </h4>
          </div>
          <div class="detail" *ngIf="results.articles[i].content !== null; else elseblock3">
            {{results?.articles[i].content}}
          </div>
          <ng-template #elseblock3>
            <div class="detail">
              Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Quisque quis fermentum sem. Etiam lacinia tellus vehicula,
              sollicitudin augue vitae, consectetur purus. Nullam tempus vitae lacus cursus congue.
              Praesent porttitor risus elit, at suscipit sem accumsan eget. Nullam non arcu ipsum.
            </div>
          </ng-template>
        </div>
        <div class="subdetail">
          <div class="author" *ngIf="results?.articles[i].author===null;else elseblock">
            Unknow
          </div>
          <ng-template #elseblock>
            <div class="author">
              {{results?.articles[i].author}}
            </div>
          </ng-template>
          <div class="time">
            {{results?.articles[i].publishedAt}}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="w-100" *ngIf="results.articles[i].urlToImage!==null;else elseblock2">
          <img [src]="results?.articles[i].urlToImage" class="img">
        </div>
        <ng-template #elseblock2>
          <div class="w-100">
            <img src="assets/img/dog.jpg" class="img">
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
