<div class="main d-flex">
  <div class="col-md-3 d-flex flex-column" style="background-color: chocolate">

    <div class="d-flex flex-column">
      <aside>
        <h3>Categories</h3>
        <div>
          <div><input type="checkbox" name="startingReserves" value="starting" id="business"><label for="business">Business</label></div>
          <div><input type="checkbox" name="startingReserves" value="reserves" id="entertaitment"><label for="entertaitment">Entertaitment</label></div>
          <div><input type="checkbox" name="startingReserves" value="reserves" id="health"><label for="health">Health</label></div>
          <div><input type="checkbox" name="startingReserves" value="reserves" id="science"><label for="science">Science</label></div>
          <div><input type="checkbox" name="startingReserves" value="reserves" id="sports"><label for="sports">Sports</label></div>
          <div><input type="checkbox" name="startingReserves" value="reserves" id="technology"><label for="technology">Technology</label></div>
        </div>
      </aside>
    </div>
  </div>
  <div class="col-md-9 d-flex" style="background-color: blueviolet">
    as
  </div>
</div>
