<app-slider></app-slider>
<div class="container d-flex " style="margin-top: 50px">

  <div class="desktop">
    <div class="d-flex flex-column">
      <h2 style="padding-bottom: 80px">
        Recent News
      </h2>
      <div class="d-flex"  *ngFor="let new of displayedItems;let i = index" style="margin-bottom: 10px">
          <div class="col-md-8 flex-column d-flex" style="color: white">
            <div class="d-flex title">
              {{displayedItems[i].author}}
            </div>
            <div class="d-flex detail">
              {{displayedItems[i].title}}
            </div>
            <div class="d-flex flex-column" style="padding-bottom: 50px">
              <div class="d-flex atitle">
                {{displayedItems[i].source.name}}
              </div>
              <div class="d-flex adetail">
                {{displayedItems[i].publishedAt}}
              </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center img ">
          <img src="assets/img/dog.jpg" class="img">
        </div>
      </div>
      <div class="row mt-3" style="width: 10px;height: 10px">
        <div class="col">
          <div class="btn-group">
            <button *ngFor="let p of pages"
                    (click)="changePage(p+1)" class="btn btn-outline-primary">{{p+1}}
            </button>
          </div>
        </div>
      </div>
  </div>

  <div class="d-flex flex-column col-md-4">
    <h2 style="padding-bottom: 70px">
      Popular
    </h2>
    <div class="d-flex justify-content-center" style="padding-bottom: 15px" *ngFor="let new of displayedItems | slice:0:5;let i = index">
      <div class="number d-flex col-md-3 justify-content-center">
        {{i+1}}
      </div>
      <div class="d-flex col-md-9 flex-column" style="padding-top: 5px">
        <div class="atitle" style="padding-bottom: 25px">
          {{displayedItems[i].title}}
        </div>
        <div class="d-flex ttitle">
          {{displayedItems[i].author}}
        </div>
        <div class="d-flex tdetail">
          {{displayedItems[i].publishedAt}}
        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="mobile">
    <div class="d-flex flex-column">
      <div>
        <!-- Mobile Populers Start -->
        <div class="d-flex flex-column">
          <h3 style="padding-bottom: 30px">
            Popular
          </h3>
          <!-- Mobile Populer1 Start -->
          <div class="d-flex justify-content-center" *ngFor="let new of displayedItems | slice:0:5;let i = index" style="padding-bottom: 15px">
            <div class="number d-flex col-1 justify-content-center">
              {{i+1}}
            </div>
            <div class="d-flex flex-column col-9" style="padding-top: 5px;padding-left: 10px">
              <div class="atitle" style="padding-bottom: 5px">
                {{displayedItems[i]?.title}}
              </div>
              <div class="d-flex ttitle">
                {{displayedItems[i]?.author}}
              </div>
              <div class="d-flex tdetail">
                {{displayedItems[i]?.publishedAt}}
              </div>
            </div>
          </div>
          <!-- Mobile Populer1 End -->
        </div>
      </div>
      <!-- Mobile Products Start -->
      <h3 style="padding-bottom: 40px;padding-top: 30px" >
        Recent News
      </h3>
      <!-- Mobile Product1 Start -->
      <div class="d-flex" style="margin-bottom: 20px" *ngFor="let new of displayedItems;let i = index">
        <div class="col-md-8 flex-column d-flex" style="color: white">
          <div class="d-flex title">
            {{displayedItems[i]?.author}}
          </div>
          <div class="d-flex detail" style="max-width: 450px">
            {{displayedItems[i]?.title}}
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex atitle">
              {{displayedItems[i]?.source.name}}
            </div>
            <div class="d-flex adetail">
              {{displayedItems[i]?.publishedAt}}
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <img src="assets/img/dog.jpg" class="img">
        </div>

      </div>
      <div class="row mt-3" style="width: 10px;height: 10px">
        <div class="col">
          <div class="btn-group">
            <button *ngFor="let p of pages"
                    (click)="changePage(p+1)" class="btn btn-outline-primary">{{p+1}}
            </button>
          </div>
        </div>
      </div>
      <!-- Mobile Product1 End -->
    </div>
  </div>
</div>

